<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Metro UI -->
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4.5.1/css/metro-all.min.css">
  </head>
  <body>
    <div class="card">
        <div class="card-header">
            Card header
        </div>
        <div class="card-content p-2">
            Card with header and footer...
        </div>
        <div class="card-footer">
            Card Footer
        </div>
    </div>

    <!-- Metro UI -->
    <script src="https://cdn.korzh.com/metroui/v4.5.1/js/metro.min.js"></script>
  </body>
</html>